{% extends "base.html" %} {% block title %} About{% endblock %} {% block content
%}
<div class="container mx-auto">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h1 class="mt-5 text-4xl font bond text-red-500">About us</h1>
      <p>
        At CalCount, we believe that understanding and managing your calorie
        intake is a crucial step towards achieving a healthy lifestyle. Our
        mission is to provide you with a simple, effective, and user-friendly
        tool to track your daily calories, monitor your progress, and make
        informed dietary choices.
      </p>
      <ol>
        <p>Our calorie counter is designed to help you:</p>
        <li>Set personalized goals: Whether you're aiming to lose weight, gain muscle, or maintain your current weight, our tool allows you to set specific goals and track your progress towards them.</li>
        <li>Log your food and drinks: Easily add food items and beverages to your daily log, along with their portion sizes and calorie counts.</li>
        <li>Track your activity: Keep tabs on your physical activity levels to get a more accurate picture of your overall calorie expenditure.</li>
        <li>Access valuable resources: Learn about nutrition, healthy recipes, and tips for maintaining a balanced diet.</li>



      </ol>
    </div>
  </div>
</div>

{% endblock %}
