{% comment %} {% extends "base.html" %}

{% block content %}
  <h1>Photo Gallery</h1>

  {% for photo in photos %}
    <div class="photo-card">
      <a href="{{ photo.get_absolute_url }}">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
        <h3>{{ photo.title }}</h3>
        <p>Tags: {% for tag in photo.tags.all %}{{ tag }} {% endfor %}</p>
      </a>
    </div>
  {% endfor %}
{% endblock %}
 {% endcomment %}


<img src="{{ photo.image.url }}" alt="{{ photo.title }}">
<h2>{{ photo.title }}</h2>
<p>{{ photo.description }}</p>
<p>Tags: {% for tag in photo.tags.all %}{{ tag }} {% endfor %}</p>